<!DOCTYPE html>
<html>
<head>
<style>
body  {
    
}
</style>
	<title>Breaking Dawn Part 2</title>
	<link rel="shortcut icon" type="favicon" href="img/MG.ico">
	<link rel="stylesheet" type="text/css" href="css/BDP2.css">
</head>
<body background= "img/2.jpg">
<h2><a href="/">Return to HOME</a></h2>
<div id="bd2"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="js/BDP2.js"></script>

<audio loop="true" autoplay="true">
		<source src="audio/TwilightOS.ogg" type="audio/ogg">
		<source src="audio/TwilightOS.mp3" type="audio/mpeg">
	</audio>
	
</body>
</html>