<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("img/2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}
</style>
	<title>Breaking Dawn Part 2</title>
	<link rel="shortcut icon" type="favicon" href="img/MG.ico">
	<link rel="stylesheet" type="text/css" href="css/BDP2.css">
</head>
<body>
<h2><a href="/">Return to HOME</a></h2>
<div id="bd2"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="js/BDP2.js"></script>

</body>
</html>