<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("img/eclipse.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: orange;
}
</style>
	<title>Eclipse</title>
	<link rel="shortcut icon" type="favicon" href="img/MG.ico">
	<link rel="stylesheet" type="text/css" href="css/Eclipse.css">
</head>
<body>
<h2><a href="Welcome.html">Return to HOME</a></h2>
<div id="ec"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="js/Eclipse.js"></script>

</body>
</html>