<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("eclipse.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: orange;
}
</style>
	<title>Subiere, MG. Final Exam</title>
	<link rel="shortcut icon" type="favicon" href="MG.ico">
	<style>
  
	<link rel="stylesheet" type="text/css" href="Eclipse.css">

	 </style>
</head>
<body>
<h2><a href="Welcome.html">Return to HOME</a></h2>
<div id="app"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="Eclipse.js"></script>

</body>
</html>