<!DOCTYPE html>
<html>
<head>
<style>

</style>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="css/Twilight.css">
	<link rel="stylesheet" type="text/css" href="css/NewMoon.css">
	<link rel="stylesheet" type="text/css" href="css/Eclipse.css">
	<link rel="stylesheet" type="text/css" href="css/BDP1.css">
	<link rel="stylesheet" type="text/css" href="css/BDP2.css">
	<link rel="shortcut icon" type="favicon" href="img/MG.ico">

</head>
<body background="img/nm1.jpg">
	<center><h1>Welcome to my Twilight Movie Series!</h1>
	
	<p><th><a href="/Twilight">Twilight</a></th></p>
	<img src="img/t1.jpg" width = "200px", height = "200px">
	<p><a href="/Newmoon">Twilight Saga: New Moon</a></p>
	<img src="img/nm1.jpg" width = "200px", height = "200px">
	<p><a href="/Eclipse">Twilight Saga: Eclipse</a></p>
	<img src="img/ec1.jpg" width = "200px", height = "200px">
	<p><a href="/BDP1">Twilight Saga: Breaking Dawn Part 1</a></p>
	<img src="img/p1.jpg" width = "200px", height = "200px">
	<p><a href="/BDP2">Twilight Saga: Breaking Dawn Part 2</a></p>
	<img src="img/p2.jpg" width = "200px", height = "200px">
	</center>

	<br>

	<script type="text/javascript" src="js/Twilight.js"></script>
	<script type="text/javascript" src="js/NewMoon.js"></script>
	<script type="text/javascript" src="js/Eclipse.js"></script>
	<script type="text/javascript" src="js/BDP1.js"></script>
	<script type="text/javascript" src="js/BDP2.js"></script>

	<audio loop="true" autoplay="true">
		<source src="audio/TwilightOS.ogg" type="audio/ogg">
		<source src="audio/TwilightOS.mp3" type="audio/mpeg">
	</audio>

</body>
</html>